- if current_user
  .newback
    = link_to "New Todo List", new_todo_list_path
  - @todo_lists.each do |todo_list|
    .tilebox  
      .tiles
        .newtitle= link_to todo_list.title, todo_list
        .tname= todo_list.description
- else
  .newp
    Login or signup to create todo lists.        
    
