/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: futura;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//colors
$color_suva_gray_approx: #888888;
$black: #000000;
$white: #ffffff;
$color_fuscous_gray_approx: #555;
$color_ebony_clay_approx: #202c39;
$color_gravel_approx: #46494c;

.newh1 {
  padding-top: 1.333em;
  font-size: 3.333em;
  text-align: center;
}
h1 {
  padding: 1.333em;
  font-size: 1.777em;
  text-align: center;  
}
.newh2 {
  padding-top: 1.333em;
  font-size: 1.333em;
  text-align: center;  
}
.newse {
  font-size: 1.555em; 
}
.newn {
  text-align: center;
  font-size: 1.777em;
}
h2 {
  text-align: center;
  font-size: 1.333em;
  padding: 0.555em;
}
.newp {
  padding-top: 2.333em;
  font-size: 1.333em;
  text-align: center;
  a {
    &:link {
      color: #000000;
      text-decoration: none;
    }
    &:visited {
      color: #000000;
      text-decoration: none;
    }
    &:hover {
      color: #000000;    
      text-decoration: none;
      background-color: #ffffff;
    }
    &:active {
      color: #000000;    
      text-decoration: none;
    }
  }
}
.newr {
  color: #FFFFFF;
  padding-right: 0.777em;
}
.newtitle {
  padding: 0.333em;
  font-size: 1.333em;
  text-align: center;
  a {
    &:link {
      color: #000000;
      text-decoration: none;
    }
    &:visited {
      color: #000000;
      text-decoration: none;
    }
    &:hover {
      color: #FFFFFF;    
      text-decoration: none;
      background-color: #000000;
    }
    &:active {
      color: #000000;    
      text-decoration: none;
    }
  }
}
.selteam {
  color: #687396;
}
#selectteam.tiles {
  box-shadow: 0 0.25em 0.25em 0.125em #687396;
}
#error_explanation {
  font-size: 0.555em;
  color: #555555;
}
.todo_item {
  text-align: center;
}
.topnav {
  font-size: 1.555em;
}
.newback {
  padding-top: 2.333em;
  font-size: 1.333em;
  padding-bottom: 0.333em;
  text-align: center;
}
.nbutton {
  padding-top: 0.333em;
  font-size: 1.333em;
  padding-bottom: 0.333em;
  text-align: center;
}
button {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  font-size: 0.777em;
  cursor: pointer;
  border: none;
  margin-bottom: 0.222em;
  width: 2.777em;
  height: 1.777em;
}
.tname {
  font-size: 0.777em;
}
.actions input {
  background-color: #000000;
  color: #ffffff;
  padding: 0.333em 0.333em;
  text-align: center;
  display: inline-block;
  font-size: 0.777em;
  margin: 0.333em;
  border: none;
  cursor: pointer;
  &:hover {
    color: #ffffff;    
    background-color: $color_gravel_approx;
    text-decoration: none;
  }
}
.tilebutton a {
  background-color: #000000;
  color: #ffffff;
  padding: 0.333em 0.333em;
  text-align: center;
  display: inline-block;
  font-size: 0.777em;
  width: 2.777em;
  margin-bottom: 0.222em;
}
.nbutton a {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 0.333em;  
}
.newback a {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1.333em;
}
.field {
  padding: 0.133em;
  input {
    font-size: 0.5em;
    width: 10em;
  }
  textarea {
    font-size: 0.5em;
    width: 15em;
    height: 5em;
  }
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
ul.topnav li {
  float: left;
}
.usr {
  display: inline-block;
  color: #CFDAFF;
  text-align: bottom;
  padding: 0.333em 0.333em;
  text-decoration: none;
  font-size: 1.777em;
  font-family: futura;
}
ul.topnav li a {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 0.333em 0.333em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.777em;
}
ul.topnav li a:hover {background-color: #555555;}
.current {
  background-color: #555555;
}
ul.topnav li.icon {display: none;}
.form {
  padding: 1em;
  margin-top: 0.333em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.777em;
  box-shadow: 0 0.125em 0.125em 0.0625em $color_suva_gray_approx;
}
.tilebox {
  display: flex;
  padding-top: 1.333em;
  flex-wrap: wrap;
  justify-content: center;
}
.new_user {
  text-align: center;
  font-size: 1.777em;
}
.tiles {
  padding: 1em;
  width: 10em;
  height: auto;
  font-size: 1.777em;
  box-shadow: 0 0.125em 0.125em 0.0625em $color_suva_gray_approx;
  margin: 1em;
}
.sidebar {
  position: fixed;
  padding: 1em;
  width: 10em;
  height: auto;
  font-size: 1.777em;
  box-shadow: 0 0.125em 0.125em 0.0625em $color_suva_gray_approx;
  margin: 1em;  
  left: 0em;
  background-color: #FFFFFF;
}
.playername {
  padding-top: 0.777em;
}
.newshow {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 0.777em;
  width: 2.777em;
  height: 1.777em;
  display: table-cell;
  vertical-align: middle;
  font-family: futura;
}
.newshow a{
  font-family: futura;
  &:link {
    color: #ffffff;
    text-decoration: none;
  }
  &:visited {
    color: #ffffff;
    text-decoration: none;
  }
  &:hover {
    color: #ffffff;    
    background-color: $black;
    text-decoration: none;
  }
  &:active {
    color: #ffffff;    
    text-decoration: none; 
  }   
}
.buttonbox {
  display: flex;
  justify-content: center;
  font-size: 2em;
  background: $white;
}
.buttons {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 1.222em;
}

#showp {
  height: auto;
}

a {
  &:link {
    color: #ffffff;
    text-decoration: none;
  }
  &:visited {
    color: #ffffff;
    text-decoration: none;
  }
  &:hover {
    color: #ffffff;    
    background-color: $color_gravel_approx;
    text-decoration: none;
  }
  &:active {
    color: #ffffff;    
    text-decoration: none;
  }
}
@media screen and (max-width: 50em) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  .sidebar {
    position: relative;
  }
  .tilebox {
    display: block;
  }
}   